$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$gameboard-color: rgba(208, 212, 219, 0.5);

body {
  background-image: url('../../img/UnderwaterBGBlank.png');
}

canvas {
  background-color: $gameboard-color;
}
