$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$gameboard-color: rgba(208, 212, 219, 0.5);

body {
  background-image: url('../../public/img/UnderwaterBGBlank.png');
}

canvas {
  background-color: $gameboard-color;
  border: solid #fff 5px;
  display: block;
  height: 360px;
  margin: auto;
  margin-top: 100px;
  width: 520px;
}

nav {
  background-color: black;
  height: 42px;
}

h1 {
  color: white;
  display: inline;
  font-size: 28px;
  margin-top: 10px;
  padding: 10px;
}

button {
  margin-top: 4px;
  // padding: 5px;
}

.nav-header {
  margin-top: 4px;
  float: left;
}

.nav-buttons {
  float: right;
  margin-right: 4px;
}
